header{
    background-color: rgb(134, 58, 7);
    height: 80px;
    width: 100%;
}
header h1{
    color: #f5f5f5;
    font-size: 30px;
    padding: 25px 50px;
}
header nav ul li{
    display: inline;
    margin-right: 10px;
}
header nav{
    float: right;
    margin-top: -50px;
    padding-right: 50px;
}
a{
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
h1{
    color: #450e0e;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
}
img{
    height: 50%;
    width: 50%;
    padding-top: 50px;
    padding-left: 382px;
    padding-bottom: 50px;
}
main p{
    padding-top: 50px;
    height: 300px;
    font-size: 30px;
    text-align: center;
}
footer{
    background-color: rgb(134, 58, 7);
    height: 80px;
    width: 100%;
}
footer nav{
    float: right;
    padding-right: 50px;
    margin-top: -50px;
}
footer p{
    color: #f5f5f5;
    font-size: 20px;
    padding: 25px 50px;
}
#list{
    padding: 50px 50px;
}