header{
    background-color: rgb(93, 39, 3);
    height: 100px;
    width: 100%;
}
header img{
    float: left;
    height: 80px;
    padding: 10px 20px;
    width: 300px;
}
header h1{
    color: #f5f5f5;
    font-size: 30px;
    padding: 35px 305px;
}
header nav ul li{
    display: inline;
    margin-right: 10px;
    text-transform: capitalize;
}
header nav{
    float: right;
    margin-top: -60px;
    padding-right: 50px;
}
a{
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
header nav a:hover{background-color: #f5f5f5; color: rgb(93, 39, 3); border-radius: 1px;}
h1{
    color: #450e0e;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding-top: 50px;
}
img{
    height: 50%;
    padding-top: 50px;
    padding-left: 382px;
    padding-bottom: 50px;
    width: 50%;
}
main p{
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}
#content{
    height: 535px;
    padding: 50px 0px;
    width: 100%;
}
.content-list{
    background-color: rgb(134, 58, 7);
    float: left;
    height: 450px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 22px 15px;
    text-align: center;
    width: 300px;
}
.content-list img{
    height: 200px;
    padding: 0px 0px;
    padding-bottom: 32px;
    width: 280px;
}
.content-list h3{
    color: #f5f5f5;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.content-list p{
    color: #f5f5f5;
    font-size: 25px;
    line-height: 1.2;
    padding: 12px 0;
    text-align: initial;
    top: 10px;
    
}
.content-list a:hover{
    color: #450e0e;
    font-size: 25px;
}
footer{
    background-color: rgb(44, 23, 8);
    height: 500px;
    padding-bottom: 50px;
    width: 100%;
}
.location{
    display: block;
    float: left;
    padding: 275px 50px;
    padding-bottom: 0;
}
.location img{
    height: 100px;
    padding: 10px 0px;
    padding-bottom: 35px;
    width: 150px;
}
.location h3{
    color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
}
.location p{
    padding: 25px 0;
}
.contact{
    margin-left: 615px;
    padding: 100px 50px;
}
.contact img{
    height: 50px;
    padding: 0px 20px;
    width: 50px;
}
.contact1 img{
    height: 50px;
    padding: 0px 330px;
    width: 50px;
}
.contact1 p{
    margin-top: -38px;
    padding: 0px 758px;
    padding-bottom: 40px;
}
footer ul li{
    color: #f5f5f5;
    margin-top: 10px;
}
footer nav{
    float: right;
    margin-top: -188px;
    padding-right: 50px;
    text-transform: capitalize;
}
footer nav ul li{
    margin-top: 10px;
}
footer nav a:hover{background-color: #f5f5f5; border-radius: 1px; color: rgb(44, 23, 8);}
footer p{
    color: #f5f5f5;
    font-size: 20px;
    padding-bottom: 0;
    padding-left: 692px;
    padding-top: 75px;
}
#table{
    padding: 50px 50px 50px 50px;
}
table{
    border-collapse: collapse;
    height: 500px;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:hover {background-color: #f5f5f5;}
table tr{
    border: 1px solid #ddd;
    color: #450e0e;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}
table th{
    background-color: rgb(134, 58, 7);
    border: 1px solid #ddd;
    color: #f5f5f5;
    padding-bottom: 15px;
    padding-top: 30px;
    text-align: center;
}
table td{
    border: 1px solid #ddd;
    color: #450e0e;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.contants h1{
    color: #450e0e;   
    margin: 70px auto;
    text-align: center;
}
.contants p{
    font-size: 30px;
    margin-left: 45px;
    margin-top: -75px;
}
.contants .form{
    background-color: rgb(134, 58, 7);
    border-radius: 5px;     
    display: inline-block;
    height: 385px;
    margin-bottom: 100px;
    margin-left: 650px;
    margin-top: 75px;
    width: 300px;
}
.form input{
    border-radius: 5px;
    box-shadow: none;
    display: inline-block;
    height: 20px;
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
}
.input{
    margin-top: 25px;
}
.form textarea{
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
}
.form button{
    background-color: white;
    border-radius: 5px;
    box-shadow: none;
    color: #450e0e;
    font-size: 20px;
    height: 35px;
    margin-left: 75px;
    margin-top: 20px;
    width: 160px;
}
.form button:hover{
    background-color: #450e0e;color: white;
  }
#storeForm{
    height: 500px;
    margin-left: 218px;
    padding: 50px 400px;
    padding-bottom: 50px;
    padding-top: 80px;
    width: 272px;
}
#storeForm fieldset{
    background-color: rgb(134, 58, 7);
    height: 430px;
    margin-left: -45px;
    width: 420px;
}
#storeForm legend{
    background-color: rgb(134, 58, 7);
    color: #f5f5f5;
    font-size: 20px;
    padding: 25px 30px;
    text-align: center;
    width: 385px;
}
#storeForm label{
    color: #f5f5f5;
    font-size: 20px;
    padding: 25px 35px;
    border: none;
}
#storeForm input{
    border-radius: 8px;
    color: rgb(134, 58, 7);
    font-family: Times new roman;
    font-size: 25px;
    margin: 8px 110px;
    text-align: center;
    top: -30px;
    width: 220px;
}
#storeForm button{
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    color: rgb(134, 58, 7);
    font-family: Times new roman;
    font-size: 20px;
    height: 30px;
    margin: 30px 130px;
    width: 180px;
}
#storeForm button:hover{background-color: #ddd; color: #450e0e;}