header{
    background-color: rgb(134, 58, 7);
    height: 80px;
    width: 100%;
}
header h1{
    color: #f5f5f5;
    font-size: 30px;
    padding: 25px 50px;
}
header nav ul li{
    display: inline;
    margin-right: 10px;
}
header nav{
    float: right;
    margin-top: -50px;
    padding-right: 50px;
}
a{
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
h1{
    color: #450e0e;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
}
img{
    height: 50%;
    width: 50%;
    padding-top: 50px;
    padding-left: 382px;
    padding-bottom: 50px;
}
main p{
    padding-top: 50px;
    height: 300px;
    font-size: 30px;
    text-align: center;
}
footer{
    background-color: rgb(134, 58, 7);
    height: 80px;
    width: 100%;
}
footer nav{
    float: right;
    padding-right: 50px;
    margin-top: -50px;
}
footer p{
    color: #f5f5f5;
    font-size: 20px;
    padding: 25px 50px;
}
#table{
    padding: 50px 50px 50px 50px;
}
table{
    margin-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    border-collapse: collapse;
    width: 100%;
}
table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:hover {background-color: #f5f5f5;}
table tr{
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    color: #450e0e;
    font-size: 20px;
}
table th{
    border: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgb(134, 58, 7);
    color: #f5f5f5;
}
table td{
    color: #450e0e;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    padding-top: 30px;
}
